
/* MAIN */
.keep-dialog {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* border-radius: 3px; */
}

/* PIN */
.pin-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* TITLE */
.keep-title {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  margin-bottom: 8px;
}

/* DESCRIPTION */
.keep-desc {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 15px;
  background: transparent;

  /* 🔥 CRITICAL FIX */
  min-height: unset;
  max-height: unset;
  overflow: hidden;
}

/* FOOTER */
.keep-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icons mat-icon {
  cursor: pointer;
  opacity: 0.7;
}

.footer-icons mat-icon:hover {
  opacity: 1;
}

/* CLOSE */
.close-btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.close-btn:hover {
  text-decoration: none;
}