/* You can add global styles to this file, and also import other style files */




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.popup-success {
  background-color: #2e7d32 !important; /* green */
  color: #ffffff !important;
  font-weight: 500;
}

.popup-error {
  background-color: #c62828 !important; /* red */
  color: #ffffff !important;
  font-weight: 500;
}

.popup-info {
  background-color: #0277bd !important; /* blue */
  color: #ffffff !important;
  font-weight: 500;
}


html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* ================================
   GOOGLE KEEP DIALOG – FINAL FIX
================================ */

/* OUTER MATERIAL DIALOG */
.cdk-overlay-pane.keep-dialog-panel .mat-dialog-container {
  padding: 0 !important;
  border-radius: 8px !important;   /* ✅ control curve here */
  overflow: hidden !important;     /* ✅ remove scroll */
  background: transparent !important;
}



